body{
       display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    
} 

#countlabel{
    display: block;
    text-align: center;
    font-size: 7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}

#btnContainer1{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: rgb(224, 169, 16);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(57, 90, 4);
}
